/* 
    Created on : 11-Aug-2015, 16:39:19
    Author     : Daniel Pawsey
*/

#loginForm{
    top: 35%;
    bottom: 35%;
    height: 22%;
    left: 30%;
    right: 30%;
    width: 30%;
    position: relative;
}