/* 
    Created on : 25-Jul-2015, 17:07:31
    Author     : Daniel Pawsey
*/
body {
    font-family: Helvetica;
    background-color: #f0f0f0;
    margin: 0px;
    overflow: hidden;
}

/*#oldie { 
    background-color: #ddd !important 
}*/

.pageNavigation{
    float: right;
    padding-right: 1%;
}

.container{
    background-color: #FFFFFF;
    /*position: absolute;*/
}

#centreBox{
    position:absolute;
    /*position: relative;*/
    left:30%;
    top:30%;
    height: 50%;
    width: 50%;
    overflow: auto;
    /*display: block;*/
    /*z-index: 3;*/
}

#centreBoxContent{
    position:absolute;
    /*position: relative;*/
    height: 90%;
    width: 90%;
    overflow: auto;
}

form{
    padding: 2%;
}

.pageContent{
    padding: 5%;
}

#boxTopBar{
    position: absolute;
    width: 85%;
}

.bottomBar{
    position: absolute;
    bottom: 2%;
    overflow: auto;
}

div.hiddenOnHelpPage{
    padding: 5%;
}

div.labelLarge{
    font-size: 1.2em;
    font-weight: bold;
}

div.labelSmall{
    font-size: 1em;
}

div.topBar{
    position: absolute;
    width: 100%;
    box-shadow: 10px 10px 10px #000000;
    background-color: #ddd;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border: solid #a6a6a6 2px;  
}

div.controlRow{
    padding: 0.25%;
}

#alignLeft{
    float: left;
}

#alignRight{
    float: right;
}

#title{
    text-align: left;
    font-weight: bolder;
}

#topBarTools{
    text-align: right;
}

div.bottomPanelRow{
    padding: 2%;
}

.sidePanelWrapper {
    display: block;
    float: right;  
    z-index: 3;
    position: absolute;
    right: 5px;
    top: 5%;
    left: 80%;
}

div.objectButtonsDrawer{
    overflow: auto;
    max-height: 5em;
    float: left;
    width: 100%;
}

objectButtonsDrawerLabel{
    text-align: center;
}

#pageContent{
    padding-left: 2%;
    padding-right: 2%;
}

#metrics{
    margin-top: 5%;
    padding: 2%;
    height: 10%;
    font-size: small;
}

.buttons{
    overflow: auto;
    height: 15%;
    margin-top: 5%;
    padding: 2%;
}

.drawerHandle{
    padding: 2%;
    position: relative;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 1%;
}

#sidePannelToggleButton{
    float: right;
}

.objectButton{
    width: 100%;
}

.failMessage{
    background-color: #f7ce6d;
    border-color: #FF0000;
    border-width: thick;
    color: #FF0000;
    font-weight: bolder;
    text-align: center;
    margin: 5%;
}

.successMessage{
    background-color: #f7ce6d;
    border-color: #33CC33;
    border-width: thick;
    color: #33CC33;
    font-weight: bolder;
    text-align: center;
    margin: 5%;
}

.metricData{
    color: #FF0000;
}

.pageCard{
    box-shadow: 10px 10px 10px #000000;
    background-color: #ddd;

    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    border: solid #a6a6a6 2px;    
}

.bottomBar{
    padding-right: 10%;
    padding-bottom: 1.5%;
    padding-right: 10%;
}

iframe{
    overflow: auto;
    position: absolute; 
    height: 100%; 
    width: 100%;
}

#pageLinks{
    position: absolute;
    bottom: 2%;
    padding: 0.5%;
}

.objectButton {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    color: #dbdbdb;
    font-weight: bold;
    background: #707070;
    border: solid #a6a6a6 2px;
    text-decoration: none;
}
.objectButton:hover {
    background: #db0000;
    text-decoration: none;
}

.controlButton {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Arial;
    font-size: medium;
    color: #000000;
    background: #b8b2b8;
    border: solid #a6a6a6 2px;
    text-decoration: none;
}

.controlButton:hover {
    background: #d9d9d9;
    text-decoration: none;
}

.controlButton:disabled{
    background: #d9d9d9;
}
#doneButton{
    background: #db0000;
    right: 1%;
}
#doneButton:hover{
    background: #ff8282;
    right: 1%;
}

.tab {
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    border: solid #919191 2px;
    text-decoration: none;
}

.tab:hover {
    text-decoration: none;
}

#pageContentArea{
    border-top: solid #919191 2px;
}

.drawerButton{
    color: #a6a6a6;
    background: #d9d9d9;
    font-size: x-large;
    font-weight: bolder;
    box-shadow: 10px 10px 10px #000000;
}
.drawerButton:hover{
    background: #b8b2b8;
}

.loginText{
    position: relative;
    z-index: 1;
}

.hiddenOnHelpPage{
    box-shadow: 10px 10px 10px #888888;
    background-color: #ddd;
}

.systemFunctionButton{
    width: 100%;
}

.systemFunctionButton:hover{
    width: 100%;
}

.title{
    padding-bottom: 2%;
}
.resetButton{
    margin-left: 0.5%;
}