/* 
    Created on : 28-Jul-2015, 08:47:43
    Author     : Daniel Pawsey
*/

/* Provides a hidden div which AJAX methods can load and read from in a 
temporary manner. Essentially, that div is on-page memory */ 
div.hiddenOnMainPage{
    display: none;
}

/* Ensures that the space in which the temperature exceeded message on the main 
page would appear will remain at the same height, even if it has no content at 
the time.*/
#failPlaceholder{
    white-space: pre-wrap;
    margin: 5%;
}