/* 
    Created on : 03-Aug-2015, 19:27:05
    Author     : Daniel Pawsey
*/
.newlyAddedObjectData {
    color: #666666;
}

#jsonModelContent {
    
    background-color: #000000;
    color: #00CC00;
    font-weight: bolder;
    padding: 1%;
    margin: 1%;
    overflow: auto;
    border-color: #000000;
    font-family: monospace;
    border-style: solid;
    border-width: thin;
}

.newData{
    font-family: monospace;
    font-size: x-large;
    font-weight: bolder;
    color: #000000;
}

.heading{
    color: #000000;
}