<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Administrator sign-in page | Data Centre Modelling</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/LoginPage.css">
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body>
        <script src="js/utils/PageUtils.js"></script>
        
        <div class="pageCard" id="loginForm">
            <form id="theForm" action="LoginServlet" method="GET" ng-app>
                <h1>Enter your sign-in details</h1>
                Username: <input class="loginText" 
                                 type="text" 
                                 name="username" 
                                 ng-model="fieldCheck.username">
                <br>
                Password: <input class="loginText" 
                                 type="password" 
                                 name="password" 
                                 ng-model="fieldCheck.password">
                <br>

                <div class="formButtons">
                    <input type="submit"
                           class="controlButton"
                           value="Sign in"
                           ng-disabled="!(!!fieldCheck.username && !!fieldCheck.password)"
                           />
                    <input class="controlButton" 
                           id="cancelButton" type="reset" 
                           value="Cancel" 
                           onclick="clearCentreBox()"/>
                    <a href="index.html">
                        Back to the app
                    </a>
                </div>
            </form>
        </div>
    </body>
</html>
